@model WebApplication5.Models.ItemViewModel

<div class="col-sm-12 col-md-4 col-lg-4 fitem">
	<div class="item">
		<div class="item-details clearfix">
			<a href="@Url.Action("ItemBig", new {id = Model.Item.Id})">
				<img src="@Url.Action("GetImage271", "Image" , new {Id = Model.HeadImgId})" alt width="100%" />
			</a>
			</div>
			<div class="item-details clearfix">


				<p class="name">@($"\n{Model.Item.Name}\n")</p>
				<p class="desc">@($"\n{Model.Item.Description}\n")</p>
				<div class="buttons">
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 price">
						<div class="old-price">₽@(Model.Item.Price * 1.4)</div>
						<div class="new-price">₽@Model.Item.Price</div>
					</div>
				

					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo">
						<a data-ajax="true" href="@Url.Action("AddToCart", "Cart", new {Id = Model.Item.Id, returnUrl = Request.Url.PathAndQuery})" class="themecolor">
							<i class="icon-shopping-cart"></i>
						</a>
					</div>
				</div>
			</div>

		</div>
</div>
