@using WebApplication5.Models
@model WebApplication5.Models.ItemBigViewModel
<script src="~/Content/Template/js/slider.js"></script>
<link href="~/Content/css/slider.css" rel="stylesheet" />



<section class="content productinfo row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h2>@Model.Item.Category</h2></div>



	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
		
		@if (!Model.Images.Any())
		{
			int? temp = null;
			<ul class="rslides1" id="slider3">
				<li><img src="@Url.Action("GetImage", "Image", new {Id =temp})" /></li>
			</ul>

		}
		@if (Model.Images.Count == 1)
		{
			<ul class="rslides1" id="slider3">
				<li><img src="@Url.Action("GetImage", "Image", new {Id = Model.Images[0].Id})" /></li>
			</ul>

		}
		else
		{
				<!-- Slideshow 3 -->

				<ul class="rslides" id="slider3">
					@foreach (int imgId in Model.Images.Select(x => x.Id))
				{
						<li>
							<img src="@Url.Action("GetImage", "Image", new {Id = imgId})" />
						</li>
				}
				</ul>

				<!-- Slideshow 3 Pager -->
				<ul id="slider3-pager">
					@foreach (int imgId in Model.Images.Select(x => x.Id))
				{
						<li>
							<a href="#">

								<img src="@Url.Action("GetImage75", "Image", new {Id = imgId})" />
							</a>
						</li>
				}
				</ul>

				}

</div>

	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 desc">
		<p class="caption14">@Model.Item.Name</p>
		<p class="desc">
			@Model.Item.Description
		</p>
		<div class="options clearfix">
			<div id="divSize" class="size pull-left">
				<div class="filterbox">
					<h3>Size</h3>
					<ul>
						@{
						
							for (int i = 0; i < Model.FullItems.Count; i++)
							{
								<li>
									@if (i == 0)
									{
										if (string.IsNullOrEmpty(Model.FullItems[i].Size))
										 {
											
											 <input checked type="radio" value="@Model.FullItems[i].Size" name="size"/>
											 <label for="s1" class="text">Без размера</label>
											 <span class="pull-right">(@Model.FullItems[i].Quantity)</span>
										}
										else
										{
											<input checked type="radio" value="@Model.FullItems[i].Size" name="size" />
											<label for="s1" class="text">@Model.FullItems[i].Size</label>
											<span class="pull-right">(@Model.FullItems[i].Quantity)</span>
										}
									}
									else
									{
										<input type="radio" value="@Model.FullItems[i].Size" name="size"/>
										<label for="s1" class="text">@Model.FullItems[i].Size</label>
										<span class="pull-right">(@Model.FullItems[i].Quantity)</span>
									}
									@*<input  type="radio" onchange="change('@list[i].Size')" value="@list[i].Size"  name="size" /><label for="s1" class="text">@list[i].Size</label> <span class="pull-right">(@Model.FullItems.Count(x => x.Size == list[i].Size))</span>*@
								</li>
							}
						}
					</ul>
				</div>
			</div>
			@if (Model.OtherColors.Any())
			{
				<div id="divColor" class="color pull-left">
					<div class="filterbox row">
						<h3>Другие цвета</h3>
						
							@foreach (ItemViewModel color in Model.OtherColors)
							{
							
									<div class="anotherColorItem col-sm-4 col-md-4 col-lg-4">
										<a href="@Url.Action("ItemBig", new {id = color.Item.Id})">
											<img src="@Url.Action("GetImage50", "Image", new {Id = color.HeadImgId})" />
										</a>
									</div>
								
							}
						

					</div>
				</div>
			}
			else
			{
				<script>
					$('#divSize').css('width', '100%');
					$('#divSize').css('border-right', '0px');
				</script>
			}
			
			
			

			@*<div class="color pull-left">
				<div class="filterbox" id="colors">
					<h3>Color</h3>
					<label>Выберите размер</label>
				</div>
			</div>*@
		</div>
		<div class="actions">
			<div class="buttons clearfix pull-left">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 price"><div class="old-price">₽@(Model.Item.Price * 1.4)</div><div class="new-price">₽@Model.Item.Price</div></div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart"><a id="addCart" href="#" class="themecolor"><i class="icon-shopping-cart"></i></a></div>
			</div>
		</div>
	</div>

</section>

<section class="content row prodinfobot">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="clearfix">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#desc">Description</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="desc">
					<p class="caption14">Description</p>
					<p>@Model.Item.FullDescription</p>
				</div>

			</div>
		</div>
	</div>
</section>
<script>
	@*jQuery(document).ready(function() {
		$('.sizeBtn').first().checked = true;
		var size = $('.sizeBtn').first().value();
		alert(size);
		alert('!!!');
		$.ajax({
			url: '@Url.Action("GetColors")',
			data: { Id: @Model.Item.Id, size: size },
			success: function(data) {
				$("#colors").html(data);
			}
		});
})*@
</script>

@*<script>
	function change(size) {
		$.ajax({
			url: '@Url.Action("GetColors")',
			data: {Id: @Model.Item.Id, size: size },
			success: function(data) {
				$("#colors").html(data);
			}
		});
	};
</script>*@
<script>
	$(function() {
		$('#addCart').click(function() {
			var inp = document.getElementsByName('size');
			for (var i = 0; i < inp.length; i++) {

				if (inp[i].checked) {
					$.ajax({
						url: '@Url.Action("AddToCart", "Cart")',
						data: {
							Id: @Model.Item.Id,
							size: inp[i].value
						}
					});
					return 1;
				}
			}
			alert('Выберите цвет и размер!');
		
		});

	});

	//$(function() {
	//	$('#sizeBtn').click(function() {
	//		var size = $(this).prop('value');
	//		alert(size);
	//		alert("!!!");
	//	});
	//})

</script>



