@model WebApplication5.Models.ItemListViewModel

@{
    ViewBag.Title = "Товары";
	int curPage = 1;
}

<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 wproducts pull-right">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
			<h2>The First collection</h2>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 listgrid">
			<a><img src="~/Content/Template/images/img-tr.png" alt class="grid active"></a><a><img src="~/Content/Template/images/img-tr.png" alt class="list "></a>
		</div>
	</div>
	@*<div class="row dividermr">&nbsp;</div>*@
	<div id="resss" class="row itemlist">
		@foreach (var p in @Model.Items)
		{
			<div class="col-sm-12 col-md-4 col-lg-4 fitem">

				<div class="item">
					<a href="#">
						<img src="~/Content/Template/images/spring_in_mountains-t2.jpg" alt width="100%" />
					</a>
					<div class="item-details clearfix">

						<p class="name">@($"\n{p.Name}\n")</p>
						<p class="desc">@($"\n{p.Description}\n")</p>
						<div class="buttons">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price"><div class="old-price">₽@(p.Price * 1.4)</div><div class="new-price">₽@p.Price</div></div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo" style="display: none;"><a href="#"><i class="icon-heart"></i></a></div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon mo" style="display: none;"><a href="#"><i class="icon-refresh"></i></a></div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btnicon cart mo" style="display: none;"><a href="#" class="themecolor"><i class="icon-shopping-cart"></i></a></div>
							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 btnicon rating" style="display: block;"> Rating - <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i></div>
						</div>
					</div>


				</div>
			</div>
		}
	</div>

		
	</div>
		<div class="row">
	
			<div  class="col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-2 col-lg-4 col-lg-offset-4">
				<div id="loadItems"  class="loadmore">
				
					@Ajax.ActionLink("Load More items", "GetList", "Item",  new AjaxOptions {UpdateTargetId = "resss", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "OnSuccess" })
					@*<a href="#">
						<i class="icon-cogs"></i> 
						Load More items
					</a>*@
				</div>
				<div id="returnBack" hidden="true" class="loadmore">
				
					@Ajax.ActionLink("Clear", "GetList", "Item",  new AjaxOptions {UpdateTargetId = "resss", InsertionMode = InsertionMode.InsertAfter})
					@*<a href="#">
						<i class="icon-cogs"></i> 
						Load More items
					</a>*@
				</div>
			</div>
			
		
		</div>
		
<script type="text/javascript">
	function OnSuccess() {
		if ($(".item").length == @Model.Count) {
			$('#loadItems').first().prop('hidden', 'true');
			$('#returnBack').first().attr('hidden', 'false');
		}

	}
</script>


